$primary-color: #6948ff;
$secondary-color: #553bcb;
$darkgrey-color: #22262a;
$lightgrey-color: #d3d3d3;
$grey-color: #808080;

.contact {
  width: 100%;
  margin: 3rem 0;
  display: flex;

  .container {
    max-width: 1240px;
    margin: auto;
    overflow: hidden;
    display: flex;

    .col-1 {
      flex: 1 0 45%;
      padding-right: 1.5rem;

      .content {
        margin-top: 5rem;

        .inner {
          h2 {
            font-size: 28px;
            padding: 0.4rem 0;
          }

          p {
            color: $grey-color;
            padding-bottom: 0.8rem;
            line-height: 1.5;
          }
        }
        .address {
          padding: 1rem 0;
          line-height: 1.5;
        }
        .icons {
          display: flex;
          align-items: center;
          padding-bottom: 1rem;
          p {
            margin-left: 1rem;
          }
        }
        .careers {
          span {
            color: $secondary-color;
            font-size: 16px;
            cursor: pointer;
            // padding: 0.1rem;
            // text-decoration: underline;
            border-bottom: 1px solid $primary-color;
          }
        }
      }
    }

    .col-2 {
      flex: 1 0 55%;
      padding: 0rem 2rem;

      //   border: 1px solid $lightgrey-color;
      //   border-radius: 10px;
      //   background-color: #fefefa;

      form {
        // padding-left: 6rem;
        // input {
        //   display: block;
        //   max-width: 500px;
        //   width: 60%;
        //   padding: 0.3rem 0.5rem;
        //   margin: 0.5rem 0;
        // }

        display: flex;
        flex-direction: column;
        margin: auto;
        min-width: 500px;
        padding: 3rem 4rem;
        width: 60%;

        border: 1px solid $lightgrey-color;
        border-radius: 10px;
        background-color: #fefefa;

        input {
          margin-bottom: 1rem;
          padding: 0.4rem;
          font-size: 0.8rem;
          border-radius: 4px;
          border: 1px solid $lightgrey-color;
        }

        textarea {
          margin-bottom: 1rem;
          padding: 0.4rem;
          font-size: 0.8rem;
          border-radius: 4px;
          border: 1px solid $lightgrey-color;
          font-family: "Montserrat", sans-serif;
        }
        .checkbox {
          display: flex;
          align-items: center;
          //   justify-content: center;

          margin-bottom: 1rem;
          margin-left: 1rem;
          input {
            margin-right: 1rem;
          }

          p {
            span {
              color: $primary-color;
            }
          }
        }

        button {
          width: 100%;
          padding: 8px 0;
          border-radius: 4px;
          border: 1px solid $primary-color;
          background-color: $primary-color;
          color: #fff;
          cursor: pointer;

          &:hover {
            border: 1px solid $secondary-color;
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .contact {
    width: 100%;
    padding-top: 1rem;
    // margin: 1rem 0;

    .container {
      // display: block;
      flex-direction: column;
      padding: 0 2rem;

      .col-1 {
        .content {
          padding-left: 2rem;
          margin-bottom: 3rem;
        }
      }

      .col-2 {
        padding-left: 0.2rem;
        form {
          margin-left: -2rem;
          background: none;
          border: none;
          //   width: 400px;
          input,
          button,
          textarea {
            width: 350px;
          }

          .checkbox {
            // width: 400px;
            input {
              width: 2rem;
              padding-left: 1rem;
              margin-left: -1rem;
            }

            p {
              padding-left: 1rem;
              margin-left: -1rem;
            }
          }
        }
      }
    }
  }
}
