.testimonials {
  width: 100%;
  color: #fff;
  margin: 3rem 0;
  line-height: 1.5;

  .container {
    max-width: 1240px;
    padding: 1rem;
    margin: auto;
    overflow: hidden;

    .outline {
      background-image: linear-gradient(
          to left,
          rgba(17, 50, 173, 0.5),
          rgba(17, 50, 173, 0.9)
        ),
        url("https://media.istockphoto.com/photos/smiling-african-american-business-woman-wearing-stylish-eyeglasses-picture-id1325565779?b=1&k=20&m=1325565779&s=170667a&w=0&h=mg7anQmF533oAt9xqypvLR-y0ei692eWC7zsnnjjlQc=");
      height: 450px;
      width: 100%;
      background-size: cover;
      //   background-repeat: no-repeat;
      //   background-position: left;
      border-radius: 10px;

      .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 50%;
        justify-content: center;
        padding: 3rem;

        .body {
          padding: 1.2rem 0;
          //   color: #fff;
        }

        .name {
          p {
            font-size: 14px;
            // color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .testimonials {
    margin: 1rem 0;
    .container {
      .outline {
        width: 100%;
        // background-size: contain;
        // background-repeat: no-repeat;
        .content {
          //   max-width: 100%;
          .body {
            min-width: 200px;
          }
        }
      }
    }
  }
}
